@charset "ISO-8859-1";


body {
  font-family: Arial;
  margin: 0;
}


.sidenav {
  width: 250px;
  height: 100%;
  z-index: -1;  
  top: 200px;
  left: 0;
  background-color: #961861;
  position:fixed;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: Arial;
  color: white;
  transition: 0.5s;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}